[mysql] 		
socket=/var/lib/mysql/mysql.sock 		
default-character-set=utf8 		
[mysqld] 		
skip-grant-tables 		
explicit_defaults_for_timestamp=true 		
skip-name-resolve 		
port = 3306 		
socket=/var/lib/mysql/mysql.sock 		
basedir=/usr/local/mysql 		
max_connections = 200 		
default-storage-engine=INNODB 		
lower_case_table_names=1 		
max_allowed_packet=16M 		
log-error=/var/log/mysql/mysql.log 		
pid-file=/var/run/mysql/mysql.pid 		
!includedir /etc/my.cnf.d 		
